body 
{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code 
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root 
{
    height: 100%;
}

.app 
{
    height: 100%;
}

.inline-link 
{
    text-decoration: underline;
}

.slide-number
{
    margin-bottom: 6px !important;
}

.controls
{
    margin-bottom: 50px;
}

.tm-logo-white
{
    fill: white;
}

.slide.branded
{
    height: 100%;
    display: grid !important;
    grid-template-rows: 1fr auto;
}

.slide.branded .content
{
    display: grid;
    place-content: center;
}

.slide.branded .brand
{
    display: grid;
    padding-right: 70px;
    background-color: #004991;
    height: 50px;
    clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);

}

.slide.branded .brand svg
{
    justify-self: end;
}

.framed-info-slide
{
    height: 100%;
    display: grid !important;
    background-color: #004991;
    color: white;
}

.framed-info-slide .framer
{
    place-self: center;
    display: grid;
    place-content: center;
    width: 80%;
    height: 80%;
    border: 3px solid white;
}

.framed-info-slide .framer h1,
.framed-info-slide .framer h2,
.framed-info-slide .framer h3,
.framed-info-slide .framer h4,
.framed-info-slide .framer h5
{
    color: white !important;
}

.banner-slide
{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.banner-slide .banner img
{
    all: unset;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.banner-slide .content
{
    display: grid;
    place-content: center;
}